@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 209.8 29.6% 29.6%;
    --muted: 209.5 73.5% 47.2%;
    --muted-foreground: 209.8 29.6% 34.6%;
    --popover: 209.5 73.5% 42.2%;
    --popover-foreground: 209.8 29.6% 29.6%;
    --card: 209.5 73.5% 42.2%;
    --card-foreground: 209.8 29.6% 29.6%;
    --border: 209.5 73.5% 48.4%;
    --input: 209.5 73.5% 48.4%;
    --primary: 209.8 29.6% 29.6%;
    --primary-foreground: 209.5 73.5% 92%;
    --secondary: 209.5 73.5% 47.2%;
    --secondary-foreground: 209.8 29.6% 29.6%;
    --accent: 209.5 73.5% 47.2%;
    --accent-foreground: 209.8 29.6% 29.6%;
    --destructive: 209.8 29.6% 29.6%;
    --destructive-foreground: 209.5 73.5% 92%;
    --ring: 209.8 29.6% 29.6%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 209.5 73.5% 92%;
    --muted: 209.8 29.6% 35.5%;
    --muted-foreground: 209.5 73.5% 57.1%;
    --popover: 209.8 29.6% 29.6%;
    --popover-foreground: 209.5 73.5% 92%;
    --card: 209.8 29.6% 29.6%;
    --card-foreground: 209.5 73.5% 92%;
    --border: 209.8 29.6% 35.5%;
    --input: 209.8 29.6% 35.5%;
    --primary: 209.5 73.5% 92%;
    --primary-foreground: 209.8 29.6% 29.6%;
    --secondary: 209.8 29.6% 35.5%;
    --secondary-foreground: 209.5 73.5% 92%;
    --accent: 209.8 29.6% 35.5%;
    --accent-foreground: 209.5 73.5% 92%;
    --destructive: 209.8 29.6% 29.6%;
    --destructive-foreground: 209.5 73.5% 92%;
    --ring: 209.8 29.6% 29.6%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
