@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 25% 98%;
    --foreground: 210 40% 50%;
    --muted: 210 25% 90%;
    --muted-foreground: 210 40% 55%;
    --popover: 210 25% 95%;
    --popover-foreground: 210 40% 50%;
    --card: 210 25% 95%;
    --card-foreground: 210 40% 50%;
    --border: 210 25% 93%;
    --input: 210 25% 93%;
    --primary: 210 50% 40%;
    --primary-foreground: 210 40% 100%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 210 40% 50%;
    --accent: 210 25% 90%;
    --accent-foreground: 210 40% 50%;
    --destructive: 210 50% 40%;
    --destructive-foreground: 210 40% 100%;
    --ring: 210 40% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 209.5 73.5% 92%;
    --muted: 209.8 29.6% 35.5%;
    --muted-foreground: 209.5 73.5% 57.1%;
    --popover: 209.8 29.6% 29.6%;
    --popover-foreground: 209.5 73.5% 92%;
    --card: 209.8 29.6% 29.6%;
    --card-foreground: 209.5 73.5% 92%;
    --border: 209.8 29.6% 35.5%;
    --input: 209.8 29.6% 35.5%;
    --primary: 209.5 73.5% 92%;
    --primary-foreground: 209.8 29.6% 29.6%;
    --secondary: 209.8 29.6% 35.5%;
    --secondary-foreground: 209.5 73.5% 92%;
    --accent: 209.8 29.6% 35.5%;
    --accent-foreground: 209.5 73.5% 92%;
    --destructive: 209.8 29.6% 29.6%;
    --destructive-foreground: 209.5 73.5% 92%;
    --ring: 209.8 29.6% 29.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
